<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="checkman.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="checkman.activity.deals.DealsActivity" />
        <activity android:name="checkman.activity.deals.DealEdit" />
        <activity android:name="checkman.activity.TransportActivity" />
        <activity android:name="checkman.activity.SettingActivity" />
        <activity android:name="checkman.activity.LoginActivity" />
        <activity android:name="checkman.activity.QRScannerActivity"/>
        <activity android:name="checkman.activity.ParentActivity"/>
        <activity android:name="checkman.activity.NoConnectActivity" />
        <activity
            android:name="checkman.activity.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>